<div ng-app="styleguideApp">

  <div ng-controller="ShowCtrl as show">

    <h1>Styleguide: A Show View</h1>

    <p>
      Views are named according to their REST counterparts. Basically:
      <ul>
        <li>Show view displays one instance of a resource. Its data is handled in ShowController.</li>
        <li>Index view lists all instances of a resource and uses IndexController.</li>
      </ul>
    </p>

    <p>
      Because of the naming convention, you only need to know which resource you are handling. Then you choose between its Index, Show, Edit etc. counterparts.
    </p>

  </div>

</div>