/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */
html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block; }

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

/* Remember to define your own focus styles! */
:focus {
  outline: 0; }

@font-face {
  font-family: 'Museo 300';
  src: url("/css/fonts/Museo300-Regular.eot?") format("eot"), url("/css/fonts/Museo300-Regular.woff") format("woff"), url("/css/fonts/Museo300-regular.ttf") format("truetype"), url("/css/fonts/Museo300-Regular.svg#Museo 300") format("svg"), url("/css/fonts/Museo300-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Museo 700';
  src: url("/css/fonts/museo700-regular-webfont.eot");
  src: local("☺"), url("/css/fonts/museo700-regular-webfont.woff") format("woff"), url("/css/fonts/museo700-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo700-regular-webfont.svg#webfontkqhR0CWS") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo 500';
  src: url("/css/fonts/museo500-regular-webfont.eot");
  src: local("☺"), url("/css/fonts/museo500-regular-webfont.woff") format("woff"), url("/css/fonts/museo500-regular-webfont.ttf") format("truetype"), url("/css/fonts/museo500-regular-webfont.svg#webfont6MEeenXF") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans';
  src: url("/css/fonts/museosans_500-webfont.eot?") format("eot"), url("/css/fonts/museosans_500-webfont.woff") format("woff"), url("/css/fonts/museosans_500-webfont.ttf") format("truetype"), url("/css/fonts/museosans_500-webfont.svg#Museo Sans") format("svg"), url("/css/fonts/museosans_500-webfont.otf") format("opentype"); }

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0; }

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #fff; }

#cboxTopLeft {
  width: 25px;
  height: 25px;
  background: url(/img/colorbox/border1.png) no-repeat 0 0; }

#cboxTopCenter {
  height: 25px;
  background: url(/img/colorbox/border1.png) repeat-x 0 -50px; }

#cboxTopRight {
  width: 25px;
  height: 25px;
  background: url(/img/colorbox/border1.png) no-repeat -25px 0; }

#cboxBottomLeft {
  width: 25px;
  height: 25px;
  background: url(/img/colorbox/border1.png) no-repeat 0 -25px; }

#cboxBottomCenter {
  height: 25px;
  background: url(/img/colorbox/border1.png) repeat-x 0 -75px; }

#cboxBottomRight {
  width: 25px;
  height: 25px;
  background: url(/img/colorbox/border1.png) no-repeat -25px -25px; }

#cboxMiddleLeft {
  width: 25px;
  background: url(/img/colorbox/border2.png) repeat-y 0 0; }

#cboxMiddleRight {
  width: 25px;
  background: url(/img/colorbox/border2.png) repeat-y -25px 0; }

#cboxContent {
  background: #fff;
  overflow: hidden; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  margin-bottom: 20px; }

#cboxTitle {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #999; }

#cboxCurrent {
  position: absolute;
  bottom: 0px;
  left: 100px;
  color: #999; }

#cboxSlideshow {
  position: absolute;
  bottom: 0px;
  right: 42px;
  color: #444; }

#cboxPrevious {
  position: absolute;
  bottom: 0px;
  left: 0;
  color: #444; }

#cboxNext {
  position: absolute;
  bottom: 0px;
  left: 63px;
  color: #444; }

#cboxLoadingOverlay {
  background: white url(/img/colorbox/loading.gif) no-repeat 5px 5px; }

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  color: #444; }

/*
  The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft {
  background: url(/img/colorbox/ie6/borderTopLeft.png); }

.cboxIE6 #cboxTopCenter {
  background: url(/img/colorbox/ie6/borderTopCenter.png); }

.cboxIE6 #cboxTopRight {
  background: url(/img/colorbox/ie6/borderTopRight.png); }

.cboxIE6 #cboxBottomLeft {
  background: url(/img/colorbox/ie6/borderBottomLeft.png); }

.cboxIE6 #cboxBottomCenter {
  background: url(/img/colorbox/ie6/borderBottomCenter.png); }

.cboxIE6 #cboxBottomRight {
  background: url(/img/colorbox/ie6/borderBottomRight.png); }

.cboxIE6 #cboxMiddleLeft {
  background: url(/img/colorbox/ie6/borderMiddleLeft.png); }

.cboxIE6 #cboxMiddleRight {
  background: url(/img/colorbox/ie6/borderMiddleRight.png); }

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')"); }

html, body {
  height: 100%; }

a {
  text-decoration: none; }

body {
  background: url("/ws-static/img/background.png") top left repeat-x #323232;
  text-align: center;
  color: #ffffff;
  font-family: Georgia, "Museo Sans", Helvetica, Arial, Arial; }

.push {
  height: 30px; }

div#header-wrapper {
  width: 100%;
  text-align: center; }
  div#header-wrapper div#header {
    margin: 0 auto 0 auto;
    padding: 0px 0px 0px 0px;
    height: 64px;
    width: 1024px;
    text-align: left;
    position: relative; }
    div#header-wrapper div#header h1 {
      display: inline;
      font-size: 18px;
      padding: 5px 0 0 0; }
      div#header-wrapper div#header h1 a {
        color: #fff;
        font: bold 24px "Museo Sans", Helvetica, Arial; }
    div#header-wrapper div#header div#header-nav {
      position: absolute;
      bottom: 0px;
      right: 10px; }
      div#header-wrapper div#header div#header-nav ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        div#header-wrapper div#header div#header-nav ul li {
          border-left: 1px solid #fcfcfc;
          border-right: 1px solid #cbcbcb;
          float: left;
          padding: 10px 20px 10px 20px;
          font: 16px "Museo Sans", Helvetica, Arial; }
          div#header-wrapper div#header div#header-nav ul li a {
            color: #14abd8; }
          div#header-wrapper div#header div#header-nav ul li a:hover {
            color: #0e7fa1; }
          div#header-wrapper div#header div#header-nav ul li a.signup {
            color: #db4cb6; }
          div#header-wrapper div#header div#header-nav ul li a.signup:hover {
            color: #a82e89; }
          div#header-wrapper div#header div#header-nav ul li span {
            color: #aaf; }
        div#header-wrapper div#header div#header-nav ul li.active {
          background: url("/ws-static/img/selected.png") no-repeat bottom center; }
        div#header-wrapper div#header div#header-nav ul li.first {
          border-left: none; }
        div#header-wrapper div#header div#header-nav ul li.last {
          border-right: none;
          padding-right: 0px; }

div#pitch-wrapper {
  width: 100%;
  text-align: center; }
  div#pitch-wrapper div#pitch {
    position: relative;
    background: url("/ws-static/img/pitch_bg.jpg") no-repeat top left;
    margin: 0 auto 0 auto;
    height: 507px;
    width: 1024px;
    text-align: left; }
    div#pitch-wrapper div#pitch #slogan {
      position: absolute;
      top: 20px;
      left: 312px; }
    div#pitch-wrapper div#pitch #fact1 {
      position: absolute;
      top: 405px;
      left: 15px; }
    div#pitch-wrapper div#pitch #fact2 {
      position: absolute;
      top: 405px;
      left: 379px; }
    div#pitch-wrapper div#pitch #fact3 {
      position: absolute;
      top: 405px;
      left: 748px; }
    div#pitch-wrapper div#pitch h2 {
      text-align: center;
      font: 30px "Museo Sans", Helvetica, Arial;
      color: #fff;
      text-shadow: 1px 1px 2px #666; }
    div#pitch-wrapper div#pitch h3 {
      text-align: center;
      font: 18px "Museo Sans", Helvetica, Arial;
      color: #fff;
      text-shadow: 1px 1px 2px #666; }
    div#pitch-wrapper div#pitch p {
      font: 18px "Museo Sans", Helvetica, Arial;
      color: #333;
      text-shadow: 1px 1px 2px #666; }
    div#pitch-wrapper div#pitch div#signup {
      position: absolute;
      bottom: 0px;
      left: 358px;
      width: 258px;
      height: 37px; }
      div#pitch-wrapper div#pitch div#signup a {
        display: block;
        background: url("/ws-static/img/signup.png") no-repeat top left;
        width: 258px;
        height: 37px; }
      div#pitch-wrapper div#pitch div#signup a:hover {
        background: url("/ws-static/img/signup_act.png") no-repeat top left; }

div#simple-text-wrapper {
  border-top: 1px solid #eee;
  width: 100%;
  text-align: center;
  background: #C6D2D3; }
  div#simple-text-wrapper div#simple-text {
    position: relative;
    margin: 0 auto 0 auto;
    width: 920px;
    padding: 20px;
    background: #fff;
    min-height: 380px; }
    div#simple-text-wrapper div#simple-text h2 {
      margin: 0 0 20px 0;
      color: #666;
      font: 20px "Museo Sans", Helvetica;
      text-align: left; }
    div#simple-text-wrapper div#simple-text h3 {
      margin: 0 0 15px 0;
      color: #666;
      font: 16px "Museo Sans", Helvetica;
      text-align: left; }
    div#simple-text-wrapper div#simple-text p {
      margin: 10px 0 10px 0;
      color: #999;
      font: 12px Helvetica, Arial;
      text-align: left; }

div#content-wrapper {
  width: 100%;
  text-align: center;
  height: 275px; }
  div#content-wrapper div#content {
    position: relative;
    margin: 0 auto 0 auto;
    width: 1024px;
    padding: 40px 20px 0 20px; }
    div#content-wrapper div#content div#some-buttons {
      height: 180px;
      border-right: 1px solid #cbcbcb;
      padding: 15px 40px 0 20px;
      float: left; }
      div#content-wrapper div#content div#some-buttons a {
        display: block;
        width: 255px;
        height: 77px; }
      div#content-wrapper div#content div#some-buttons .fb {
        background: url("/ws-static/img/facebook_button.png") no-repeat top left;
        margin-bottom: 10px; }
      div#content-wrapper div#content div#some-buttons .twtr {
        background: url("/ws-static/img/twitter_button.png") no-repeat top left; }
      div#content-wrapper div#content div#some-buttons .fb:hover {
        background: url("/ws-static/img/facebook_button.png") no-repeat top left; }
      div#content-wrapper div#content div#some-buttons .twtr:hover {
        background: url("/ws-static/img/twitter_button.png") no-repeat top left; }
    div#content-wrapper div#content div#intro {
      height: 180px;
      float: left;
      padding: 15px 40px 0 40px;
      border-left: 1px solid #fcfcfc;
      border-right: 1px solid #cbcbcb; }
      div#content-wrapper div#content div#intro a {
        display: block;
        width: 254px;
        height: 161px;
        background: url("/ws-static/img/vid_button.png") no-repeat top left;
        margin-bottom: 10px; }
      div#content-wrapper div#content div#intro a:hover {
        background: url("/ws-static/img/vid_button.png") no-repeat top left; }
    div#content-wrapper div#content div#blog {
      height: 180px;
      float: left;
      padding: 15px 20px 0 40px;
      border-left: 1px solid #fcfcfc; }
      div#content-wrapper div#content div#blog div#blog-bg {
        width: 254;
        height: 161px;
        background: url("/ws-static/img/blog_bg.png") no-repeat top left;
        margin-bottom: 10px; }
        div#content-wrapper div#content div#blog div#blog-bg h2 {
          padding-top: 10px; }
        div#content-wrapper div#content div#blog div#blog-bg h2 a {
          font: 30px "Museo Sans", Helvetica, Arial;
          color: #14abd8; }
        div#content-wrapper div#content div#blog div#blog-bg p {
          font: 12px "Museo Sans", Helvetica, Arial;
          color: #646464;
          padding-bottom: 10px; }
        div#content-wrapper div#content div#blog div#blog-bg a.blog-link {
          background: url("/ws-static/img/cookie2.png") no-repeat 8px 7px;
          text-align: left;
          display: block;
          color: #14abd8;
          font: 12px Georgia, Helvetica, Arial;
          padding: 5px 0 5px 45px; }
          div#content-wrapper div#content div#blog div#blog-bg a.blog-link img {
            width: 20px;
            height: 20px;
            float: left;
            border: 1px solid #ccc; }
        div#content-wrapper div#content div#blog div#blog-bg a.first-blog-link {
          border-bottom: 1px solid #dbdbdb;
          background: url("/ws-static/img/cookie1.png") no-repeat 8px 7px; }
        div#content-wrapper div#content div#blog div#blog-bg a.blog-link:hover {
          text-decoration: underline; }

div#twitter-wrapper {
  width: 100%;
  height: 44px;
  text-align: center; }
  div#twitter-wrapper div#latest-tweet {
    margin: 0 auto 0 auto;
    width: 1024px;
    text-align: center;
    padding: 15px 0 0 0; }
    div#twitter-wrapper div#latest-tweet a {
      background: url("/ws-static/img/twitter_balloon.png") 15px 0px no-repeat;
      padding: 0 0 0 40px;
      font: 13px Georgia,Helvetica, Arial;
      color: #8f8f8f; }
      div#twitter-wrapper div#latest-tweet a span {
        color: #0085c7; }

div#footer-wrapper {
  height: 100px;
  width: 100%;
  padding: 20px 0 0 0;
  text-align: center; }
  div#footer-wrapper div#footer {
    margin: 0 auto 0 auto;
    width: 1024px;
    text-align: left; }
    div#footer-wrapper div#footer div#footer-left {
      position: relative;
      display: inline;
      float: left; }
      div#footer-wrapper div#footer div#footer-left div#pages {
        position: absolute;
        top: 15px;
        left: 165px;
        width: 400px; }
      div#footer-wrapper div#footer div#footer-left div#community {
        position: absolute;
        top: 45px;
        left: 165px;
        width: 400px; }
      div#footer-wrapper div#footer div#footer-left img {
        position: absolute;
        top: 10px;
        left: 15px; }
      div#footer-wrapper div#footer div#footer-left h3 {
        float: left;
        color: #999;
        font: 14px "Museo Sans", Helvetica, Arial;
        margin-right: 25px;
        width: 90px; }
      div#footer-wrapper div#footer div#footer-left ul {
        margin: 0 0 0 0;
        float: left;
        list-style: none;
        padding: 0; }
        div#footer-wrapper div#footer div#footer-left ul li {
          line-height: 11px;
          border-left: 1px solid #fff;
          float: left;
          padding: 0px 7px 0px 7px; }
          div#footer-wrapper div#footer div#footer-left ul li a {
            color: #fff;
            font: 12px Arial, Helvetica, Arial; }
          div#footer-wrapper div#footer div#footer-left ul li span {
            color: #A9014B; }
        div#footer-wrapper div#footer div#footer-left ul li.active {
          background: url("/ws-static/img/selected.png") no-repeat bottom center; }
        div#footer-wrapper div#footer div#footer-left ul li.first {
          border-left: none; }
    div#footer-wrapper div#footer div#footer-right {
      float: right;
      margin-right: 15px; }
      div#footer-wrapper div#footer div#footer-right p {
        font: 12px Arial, Helvetica;
        color: #fff;
        padding: 15px 0 0 0; }
        div#footer-wrapper div#footer div#footer-right p a {
          color: #14abd8; }

div#cboxClose {
  color: #bbb;
  font: 12px "Museo Sans", Helvetica; }

div#features-container {
  background: #fff;
  text-align: left; }

div.info-block {
  margin-bottom: 15px; }
  div.info-block a.info-link {
    text-decoration: none !important;
    color: #fff;
    text-align: left; }
    div.info-block a.info-link span {
      font: 15px "Museo 300"; }
    div.info-block a.info-link span span {
      font: 12px "Museo 300";
      color: #ddd; }
    div.info-block a.info-link span.main {
      padding: 0 0 0 40px;
      background: url("/ws-static/img/iconsprite.png") no-repeat top left;
      height: 32px;
      line-height: 15px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      border-radius: 3px;
      display: block; }

.facebook {
  background-position: 0 0 !important; }

.skype {
  background-position: 0 -32px !important; }

.email {
  background-position: 0 -64px !important; }

.linkedin {
  background-position: 0 -96px !important; }

.delicious {
  background-position: 0 -128px !important; }

.readernaut {
  background-position: 0 -192px !important; }

.vizualizeus {
  background-position: 0 -160px !important; }

.twitter {
  background-position: 0 -224px !important; }

.ogglr {
  background-position: 0 -256px !important; }

.memext {
  background-position: 0 -288px !important; }

a.second {
  margin-left: 20px; }

a.button {
  display: inline-block;
  padding: 3px 5px 3px 5px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  color: #3C3C3D;
  text-shadow: 1px 1px 0 #FFFFFF;
  background: #ececec url("../ws-static/img/css3buttons_backgrounds.png") 0 0 no-repeat;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #CACACA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-background-clip: padding-box;
  border-radius: 2px;
  outline: none;
  position: relative;
  zoom: 1;
  *display: inline; }

a.button.primary {
  font-weight: bold; }

a.button:hover {
  color: #FFFFFF;
  border-color: #388AD4;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  background-position: 0 -40px;
  background-color: #2D7DC5; }

a.button:active,
a.button.active {
  background-position: 0 -81px;
  border-color: #347BBA;
  background-color: #0F5EA2;
  color: #FFFFFF;
  text-shadow: none; }

a.button:active {
  top: 1px; }

a.button.negative:hover {
  color: #FFFFFF;
  background-position: 0 -121px;
  background-color: #D84743;
  border-color: #911D1B; }

a.button.negative:active,
a.button.negative.active {
  background-position: 0 -161px;
  background-color: #A5211E;
  border-color: #911D1B; }

a.button.pill {
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  padding: 2px 10px 2px 10px; }

a.button.left {
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-topright: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: 0px; }

a.button.middle {
  margin-right: 0px;
  margin-left: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-right: none;
  border-left: none; }

a.button.right {
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px; }

a.button.left:active,
a.button.middle:active,
a.button.right:active {
  top: 0px; }

a.button.big {
  font-size: 16px;
  padding-left: 17px;
  padding-right: 17px; }

a.button span.icon {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin: auto 7px auto auto;
  position: relative;
  top: 2px;
  background-image: url("../ws-static/img/css3buttons_icons.png");
  background-repeat: no-repeat; }

a.big.button span.icon {
  top: 0px; }

a.button span.icon.magnifier {
  background-position: -1px 0px; }

a.button:hover span.icon.magnifier {
  background-position: -17px 0px; }

a.button span.icon.mail {
  background-position: -37px 0px; }

a.button:hover span.icon.mail {
  background-position: -55px 0px; }

a.button span.icon.loop {
  background-position: -74px 0px; }

a.button:hover span.icon.loop {
  background-position: -89px 0px; }

a.button span.icon.reload {
  background-position: -105px 0px; }

a.button:hover span.icon.reload {
  background-position: -124px 0px; }

a.button span.icon.calendar {
  background-position: -144px 0px; }

a.button:hover span.icon.calendar {
  background-position: -163px 0px; }

a.button span.icon.rss {
  background-position: -182px 0px; }

a.button:hover span.icon.rss {
  background-position: -200px 0px; }

a.button span.icon.chat {
  background-position: -220px 0px; }

a.button:hover span.icon.chat {
  background-position: -240px 0px; }

a.button span.icon.pen {
  background-position: -259px 0px; }

a.button:hover span.icon.pen {
  background-position: -277px 0px; }

a.button span.icon.key {
  background-position: -298px 0px; }

a.button:hover span.icon.key {
  background-position: -315px 0px; }

a.button span.icon.cog {
  background-position: -336px 0px; }

a.button:hover span.icon.cog {
  background-position: -354px 0px; }

a.button span.icon.user {
  background-position: -372px 0px; }

a.button:hover span.icon.user {
  background-position: -388px 0px; }

a.button span.icon.trash {
  background-position: 1px -19px; }

a.button:hover span.icon.trash {
  background-position: -17px -19px; }

a.button span.icon.lock {
  background-position: -38px -19px; }

a.button:hover span.icon.lock {
  background-position: -55px -19px; }

a.button span.icon.unlock {
  background-position: -74px -19px; }

a.button:hover span.icon.unlock {
  background-position: -90px -19px; }

a.button span.icon.comment {
  background-position: -107px -19px; }

a.button:hover span.icon.comment {
  background-position: -124px -19px; }

a.button span.icon.plus {
  background-position: -145px -19px; }

a.button:hover span.icon.plus {
  background-position: -164px -19px; }

a.button span.icon.cross {
  background-position: -183px -19px; }

a.button:hover span.icon.cross {
  background-position: -201px -19px; }

a.button span.icon.check {
  background-position: -243px -19px; }

a.button:hover span.icon.check {
  background-position: -223px -19px; }

a.button span.icon.tag {
  background-position: -262px -19px; }

a.button:hover span.icon.tag {
  background-position: -279px -20px; }

a.button span.icon.heart {
  background-position: -296px -19px; }

a.button:hover span.icon.heart {
  background-position: -315px -19px; }

a.button span.icon.home {
  background-position: -337px -19px; }

a.button:hover span.icon.home {
  background-position: -356px -19px; }

a.button span.icon.ajax {
  width: 16px;
  height: 12px;
  background-image: url("../ws-static/img/ajax_loader.gif");
  background-repeat: no-repeat; }

.awesome, .awesome:visited {
  background: #222222 url(/ws-static/img/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer; }

.awesome:hover {
  background-color: #111;
  color: #fff; }

.awesome:active {
  top: 1px; }

.small.awesome, .small.awesome:visited {
  font-size: 11px;
  padding: 2px; }

.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); }

.large.awesome, .large.awesome:visited {
  font-size: 14px;
  padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited {
  background-color: #91bd09; }

.green.awesome:hover {
  background-color: #749a02; }

.blue.awesome, .blue.awesome:visited {
  background-color: #2daebf; }

.blue.awesome:hover {
  background-color: #007d9a; }

.red.awesome, .red.awesome:visited {
  background-color: #e33100; }

.red.awesome:hover {
  background-color: #872300; }

.magenta.awesome, .magenta.awesome:visited {
  background-color: #a9014b; }

.magenta.awesome:hover {
  background-color: #630030; }

.orange.awesome, .orange.awesome:visited {
  background-color: #ff5c00; }

.orange.awesome:hover {
  background-color: #d45500; }

.yellow.awesome, .yellow.awesome:visited {
  background-color: #ffb515; }

.yellow.awesome:hover {
  background-color: #fc9200; }
